<!DOCTYPE html>
<html>
<head>
  <title>ListaContactos</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="col-sm-6 col-md-5">
  <div class="alert-link">
    <% unless current_user.nil? %>
        <%= link_to('Inicio', 'users#index') %>
        <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
    <% end %>
  </div>
</div>
<%= yield %>
</body>
</html>
